@import url("https://fonts.googleapis.com/css2?family=Asimovian&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-logo: "Asimovian", sans-serif;
  --font-temp: "Fira Sans Condensed", sans-serif;
  --font-description: "Inter", sans-serif;
}

.glassmorphism {
  @apply bg-white/10 backdrop-blur-md border border-white/10 shadow-lg text-white;
}

.glassmorphism-dark {
  @apply bg-black/50 border-0 rounded-xl text-white p-6;
}

.text-cards {
  @apply text-start w-fit h-fit bg-white/10 rounded-full shadow-lg border border-white/10 px-4 py-1;
}
