@import url("https://fonts.googleapis.com/css2?family=Asimovian&display=swap");
@import "tailwindcss";

@theme {
  --font-logo: "Asimovian", sans-serif;
}

.glassmorphism {
  @apply bg-white/10 backdrop-blur-md border border-white/10 rounded-xl shadow-lg text-white p-6;
}

.glassmorphism-dark {
  @apply bg-black/50 border-0 rounded-xl text-white p-6;
}
