@import "tailwindcss";

@theme {
  --font-logo: "Quicksand", sans-serif;
}

.glassmorphism {
  @apply bg-white/10 backdrop-blur-md border border-white/10 rounded-xl shadow-lg text-white p-6;
}

.glassmorphism-dark {
  @apply bg-black/50 border-0 rounded-xl text-white p-6;
}
